@keyframes colorChange {
    0% { border-color: red; }
    25% { border-color: green; }
    50% { border-color: blue; }
    75% { border-color: yellow; }
    100% { border-color: red; }
  }
  
  .animated-border {
    border: 15px solid red;
    animation: colorChange 8s infinite;
  }